@import 'vars';

.desktop-menu{
  width: 100px;
  height: auto;
  border: 1px solid $very-light;
  border-radius: 6px;
  padding: 18px 18px 0 18px;
  position: absolute;
  top: 60px;
  right: 25px;
  background-color: $light;
    ul{
      display: block;
    }
    li{
      text-align: end; 
      font-weight: bold;
      margin-bottom: 20px;
    }
    li a{
      text-decoration: none;
      color: $black;
    }
    li .title{
      font-size: $md;
    }
    li:last-child{
      color: $hospital;
      padding-top: 20px;
      border-top: 1px solid $very-light;
      font-size: $sm;
    }
    li:last-child a{
      color: $hospital;
    }    
}

