@import 'vars';

a{
  text-decoration: none;
  color: $black;
  font-weight: bold;
}

.mobile-menu{
  display: none;
}

.mobile-menu ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu li{
  margin-bottom: 24px;
}

.mobile-menu h1{
  margin: 0;
  margin-bottom: 24px;
  font-size: $lg;
  text-transform: uppercase;
  justify-self: flex-start;
}

.line{
  border-bottom: 1px solid $very-light;
  
}

.email,.sign-out{
  font-size: $sm;
  font-weight: 300;
}

.sign-out{
  color: $hospital;
}

@media (max-width: 640px){
  .mobile-menu{
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 24px;
    justify-content: space-around;
  }
}