@import 'vars';

.account .title {
  font-size: $lg;
  text-align: start;
  margin-bottom: 22px;
}

.value{
  color: $very-light;
  font-size: $md;
  margin: 8px 0 32px 0;
}

.edit-button{
  margin-top: 16px;
  margin-bottom: 32px;
}