@import 'vars';

.my-order-container-title-shopping {
  display: flex;
  height: 85px;
  align-items: center;
  gap: 24px;
}

.my-order-shopping {
  width: 360px;
  height: 100vh;
  display: grid;
  place-items: center;
  place-items: start center;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  background-color: $light;
  top: 60px;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  border: 1px solid $very-light

}

.title-shopping{
  font-size: $lg;
}

.my-order-content-shopping {
  display: flex;
  flex-direction: column;
}

.order-shopping{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: $text-input;
  margin: 24px 0;
  border-radius: 8px;
  padding: 0 24px;
  height: 70px;
  
}

.order-shopping p:nth-child(1){
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.order-shopping p:nth-child(2){
  text-align: end;
  font-weight: bold;
}

.shopping-carts{
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  margin-right: 12px;
  align-items: center;
  img:nth-child(1){
    width: 100px;
    height: 100px;
    border-radius: 25px;
    object-fit: cover;
  }
  img:nth-child(2){
    cursor: pointer;
    }
  .close-order-item{
    cursor: pointer;
  }
  figure img{
    width: 12px;
    height: 12px;
  }
  p:nth-child(2){
    color: $very-light;
  }
    
  p:nth-child(3){
    font-size: $md;
    font-weight: bold;
  }
}

.shopping-carts p:nth-child(2){
color: $very-light;
}

.shopping-carts p:nth-child(3){
  font-size: $md;
  font-weight: bold;
}

.shopping-carts-product {
  height: 45vh;
  overflow-x: auto;
  padding: 12px 0;
  box-shadow: inset 0 4px 12px -1px rgb(0 0 0 / 0.1), 0 2px 14px -2px rgb(0 0 0 / 0.1);
  border-radius: 6px;
}

.shopping-carts-product::-webkit-scrollbar {
  width: 8px;
}
.shopping-carts-product::-webkit-scrollbar-thumb {
  background: $very-light;
  border-radius: 10px;
}

